html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(
    -225deg,
    #07467d 0%,
    #3f6578 52%,
    #2c436f 100%
  );
  min-height: 100%;
  padding-bottom: 5rem;
}
h1,
h2 {
  color: white;
  padding: 3rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}
.alert-error {
  background-color: white;
  color: red;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Staatliches', cursive;
}
.appointment {
  padding: 2rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
}

.appointment p {
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.appointment p span {
  font-weight: normal;
}
.appointment:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.appointment:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
label {
  color: white;
}

input[type='date'],
input[type='time'] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
